* {
  --primary-color: #183140;
  --primary-color-light: #2f4653;
  --secondary-color: #50dead;
  --scondary-color-light: #ddfef3;
  --backround-color: #f5fcff;
}

.active-button {
  background-color: var(--secondary-color);
  color: var(--backround-color);
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
}

.active-button:hover {
  background-color: var(--scondary-color-light);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.inactive-button {
  background-color: transparent;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 8px;
  padding: 10px 16px;

  border: 1px solid var(--secondary-color);
}

.inactive-button:hover {
  background-color: #50dead;
  color: #f5fcff;
}
