* {
  --primary-color: #183140;
  --primary-color-light: #2f4653;
  --secondary-color: #50dead;
  --scondary-color-light: #ddfef3;
  --backround-color: #f5fcff;
}
.primary-color {
  background-color: var(--primary-color);
}
.primary-color-light {
  background-color: var(--primary-color-light);
}
.secondary-color {
  background-color: var(--secondary-color);
}
.secondary-color-light {
  background-color: var(--scondary-color-light);
}
.background-color {
  background-color: var(--backround-color);
}
div {
  padding: 4em;
  color: red;
}
