<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="color-scheme.css" />
  </head>
  <body>
    <div class="primary-color">
      <h1>primary-color</h1>
    </div>

    <div class="primary-color-light">
      <h1>Primary Color Light</h1>
    </div>

    <div class="secondary-color"><h1>secondary - color</h1></div>

    <div class="secondary-color-light">
      <h1>secondary color light</h1>
    </div>

    <div class="background-color">
      <h1>background color</h1>
    </div>
  </body>
</html>
