<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>general-chat-bubble-width</title>
    <link rel="stylesheet" href="general-chat-bubble-width.css" />
  </head>
  <body>
    in this this chat bubble width compnent, we will have 2 major bubble width
    one for whatsapp, telegram and twitter and the other for instagram and
    facebook messenger they'll both have a max width of 290px and a min width of
    250px, the bubble for whatsapp and co will have a margin of 16px, padding of
    10px
  </body>
</html>
