<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="landing-page-layout.css" />
  </head>
  <body>
    The landing page layout component has one general container housing the two
    sub containers, then the two sub containers each contain an illustration and
    description, the description container has tittle, description and button
    (button used from the button components) For the features and how it works
    section, they both have the same layout and appearance a component can be
    built for them too with that, we should be done with the landing page and
    it's components.
  </body>
</html>
