* {
  --primary-color: #183140;
  --primary-color-light: #2f4653;
  --secondary-color: #50dead;
  --scondary-color-light: #ddfef3;
  --backround-color: #f5fcff;
  --white: #ffff;
}
.primary-color {
  background-color: var(--primary-color);
}
.primary-color-light {
  background-color: var(--primary-color-light);
}
.secondary-color {
  background-color: var(--secondary-color);
}
.secondary-color-light {
  background-color: var(--scondary-color-light);
}
.background-color {
  background-color: var(--backround-color);
}
html {
  box-sizing: border-box;
  font-size: 62.54%;
}
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 50.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  color: var(--primary-color);
  height: 100vh;
  font-size: 1.6rem;
}

/* UTILITY CLASSES */
.mb-sm {
  margin-bottom: 1rem;
}
.mb-md {
  margin-bottom: 2rem;
}

.mb-lg {
  margin-bottom: 3.5rem;
}

.mb-hg {
  margin-bottom: 5rem;
}

/* STYES FOR COMPONENTS LIKE THE HOW TO SECTION AND FEATURES SECTION */
.features {
  text-align: center;
  padding: 1rem 1.5rem;
}
.features__text {
  color: var(--white);
}

/* STYLES FOR THE GRID SECTION FOR LANDING PAGE THAT HIGLIGHTS THE DIFFERENT SERVICES */
.features__descriptions {
  padding: 2rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.6rem;
}
@media only screen and (max-width: 57.25em) {
  .features__descriptions {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
.features__heading {
  color: var(--secondary-color);
}
.features__heading,
.features__descriptions--title {
  font-size: 4rem;
}
